<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
  <nav>
    <!-- Conditionally render login or logout links -->
    {{!-- {{#if logged_in}} --}}
    <a href="/">home</a>
    <a href="/dashboard">dashboard</a>
    <a href="/logout">logout</a>
    {{!-- {{else}} --}}
    <a href="/login">login</a>
    {{!-- {{/if}} --}}
  </nav>
  <h1>Tech Blog</h1>
    <main>
      {{{ body }}}
    </main>
</body>
</html>
